html{
    font-size: 16px;
}

body{
      
    font-family: AdobeInvisFont, MyriadPro-Regular, Courier ;
}
a{
    text-decoration: none;
}
.logo a{
    text-decoration: none;
    color:#000000 ;
}

.heder{
    margin-top:61px;
    width:90%;
    margin:61px auto 0px;
}
.logo{
    font-size: 5rem;
    color: black;

}
span{
    color:#4BCAFF;
}

.menu-top{
    background-color:#35444F ;
    height: 70px;
    margin-top: 44px;
    padding: 0;
    display: flex;
    
}
 
.menu-top li{
    color:#FFFFFF;
    list-style: none;
    margin: 0; 
    display: inline-block;
    height: 70px;
    flex-basis: auto ;
    flex-grow: 1;
 
}

.menu_First{
    text-align: right;
    padding-right: 2%;
}
.menu_last{
    text-align: center;
}
.menu_end{
    padding-left: 2%;
}
.menu-top a{
    font-size: 1.5rem ;
    color:#FFFFFF ;
    line-height: 68px;
    height: 70px;
    width: 100%;
    position:static ;
    display: block;
    

}
.menu-top li:hover{
    background-color:#222F3A;
    border-color:#818181;
    border-width:0px 1px 0px 1px;
    border-style: solid;
}



.center{
    width: 90%;
    overflow: hidden;
    margin: auto;
}
.menu-left{
    width:25% ;
    height: 399px;
    padding: 0;
    list-style: none;
    margin-top: 51px;
    border-style: solid;
    border-color:#35444F;
    border-width:1px;
    float: left;


}
.menu-left a{
    display: inline-block;
    width: 100%;
    height: 80px;
    font-size:1.8rem;
    line-height: 80px;
    margin-left: 44px;
    color: #485863;
    
}
.menu-left a:hover{
    font-size: 2.5rem;
    color:#000000;
}
.menu-left li:hover{
    background-color:#DBDBDB ;
  }


.img-front{
    width: 69.5%;
    height: 529px;
    display: block;
    border-style: solid;
    border-color:#35444F;
    border-width:1px;
    margin-top: 51px;
    float: left;
    margin-left: 5%;

}

img{
    max-width: 320px;
    height: 381px;
    margin: 70px auto;
    display: block;
}


.text{
    overflow: hidden;
    width: 67%;
    margin-top:624px;
    margin-left: 32%;
    font-size: 1.1rem;
}

.text_2{
    margin-top:40px;
}

.futor{
    width: 100%;
    background-color: #B4B7BA;
    height: 69px;
    margin: 40px auto;
    
}
.futor ul{
    list-style: none;
    
}
.futor li{
    float: left;
    font-size: 1.76rem;
    line-height: 45px;
    padding:1%;
    
}
.futor a{
    overflow: hidden;
    color: #0C1927;
    display: inline-block;
    height: 100%;
    
}
.logo_futor{
    color:#010101;
    font-size: 1.5rem;
    text-align: right;
    line-height: 70px;
padding-right: 1%;
}

.futor a:hover{
    color:#3181A6;
    text-decoration: underline;
}
@font-face {
    font-family: "MyriadPro-Regular";  
    src: url("./fonts/MyriadPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;

}