body{
    font-family: 'Oswald', sans-serif;
}
.container{
    margin:  auto;
    width: 70%;
    
}
.menu{
    float: right;
}
header{
    height: 740px;
    background-image:url(./img/Rectangle.png) ;
    background-origin: content-box;
    
}
.header__content{
    
    text-align: center;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;

}
.nav{
    padding-top: 30px;
}
.header__content-title{
    font-size: 4rem; 
    margin-top: 115px;
    font-weight: 500;
}
.header__content-subtitle{
    font-size: 1.125rem;
    font-weight: 400;
    
}
.header_box{

    width: 100%;
    height: 150px;
    margin: auto;
    background-color: #F7F7F7;
    position: relative;
    bottom: 0px;
    top:150px;
    font-weight: 500;
}
.header_box ul{
   padding: 50px 0px 0px 0px;
   overflow: hidden; 
   width: 80%;
   margin: auto;


}
.header_box li{
    list-style-type:none; 
    float: left;
    font-size: 4.5rem;
    color:#F7654A;
    width: 25%;
    text-align: center;
    font-weight:bold;
}
.content{
    margin:  auto;
    width: 70%;
    overflow: hidden;
}
.content_box{
    width: 100%;
    background-color: #F7F7F7;
    height: 150px;
    font-weight: 500;

}
.content_box ul{
    margin: 0;
    width: 80%;
    margin: auto;
    overflow: hidden; 
    padding: 0;
}
.content_boxt_one{
    float: left;
    list-style-type: none;
    width: 25%;
    text-align: center;
    font-size: 2.25rem;
    color:"#000000";
    font-weight:bold;
}
.content_boxt_two{
    float: left;
    list-style-type: none;
    width: 25%;
    text-align: center;
    font-size: 1.125rem;
    font-weight:normal;
   
    
}
h1{
    text-align: center;
    font-size: 2.25rem;
    margin-top: 91px;
    margin-bottom: 91px;
    font-weight: 500;
}

.blok_picters_texr-left{
    width: 31.5%;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
.line{
    width: 55px;
    height: 6px;
    background-color:#F7654A ;
    margin-top: 45px;
}
h2{
    font-size: 1.5rem;
    color: #404149;
    font-weight: 500;

}
.blok_picters_texr-centr{
    width: 31.5%;
    float: left;
    margin: 0px 26px;
    font-family: 'Open Sans', sans-serif;
}
.blok_picters_texr-right{
    width: 31.5%;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
.content img{
    height: auto;
    width: 100%;
}


footer{
    height: 181px;
    background-color: #F7654A;
    
}
.footer_waight{
    margin:  auto;
    width: 70%;
    overflow: hidden; 
}
.footer_text{
    font-size: 3.12rem;
    color:#FFFFFF;
    text-align: left;
    float: left;
    padding-top: 35px;
    line-height:50px;
    font-weight: 700;
}
.footer_text span{
    font-size: 1.5rem;

}
.footer_boton{
    width:179px;
    height: 49px;
    background-color: #FFFFFF;
    font-size: 0.875rem;
    margin-left: 82%;
    margin-top: 64px;
    text-align: center;
    line-height: 48px;


}
.footer_boton span{
    padding-right:12px;
}
.footer_boton a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #000000;
    font-weight: 500;
    
}

