html {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body {
    color: white;
    padding: 2% 10%;
    margin: 0;
    
    background-image: linear-gradient(45deg, black, black),
      url(./img/background@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
  }
  
header {
    overflow: hidden;
}

.logo {
    width: 30%;
    display: inline-block;
    
}
.logo:hover{
    color:#f26522;
   
}


  .logo :first-child {
    font-size: 1.5rem;
      
  }

  .logo :last-child {
    font-size: 0.9rem;
  }

  .logo:before {
    float: left;
    content: "";
    background: url(./img/logo@1X.png) no-repeat;
    width: 60px;
    height: 55px;
    background-size: 100%;
    margin-right: 1rem;
  }
  
  .logo:hover:before{
    content: "";
    background: url(./img/logo@2X.png) no-repeat;
    background-size: 100%;
}


  .contact {
    font-size: 1rem;
    float: right;
      
  }
   a{
    text-decoration: none;
    color: #f1f0f0;

  }
  .section{
    overflow: hidden;
   
    
    
  }
  img{
    width: 100%;
    border: 3px   solid;
    border-width:3px  3px 0px 3px ;
    border-image: linear-gradient(0deg, rgba(0, 0, 0, 0), #fff);
    border-image-slice: 1;
    box-sizing: border-box
        
  }
.cart{
    background-repeat: round;
    margin-top: 48px;
    width: 28%;
    font-size: 1rem;
    float: left;

}

.cart_img_block{
    position: relative;
    width: 100%;
    overflow:hidden;
  
}
.cart-name{
    font:1rem;
    margin-top: 22px;
    text-align: center;
}


.cart_boton{

    width: 100%;
    height: 0px;
    background-color:#f26522;
    position: absolute;
    bottom: 0;
   
     }
.cart_boton_from{
    margin-top:3% ;
    margin-left: 21px;
font-size: 0.7rem;
    }
.cart_boton_price{
    margin-top:3px ;
    margin-left: 21px;
    font-size: 1.2rem;
}
.cart_boton_datails{
    font-size: 0.9rem;
    margin-top: 6px;
    margin-right: 21px;
    float: right;
}
     

.cart:hover .cart_boton
{height: 30%;
transition: 200ms;
cursor: pointer;
}
.cart:hover .cart-name{
color: #f26522;
cursor: pointer;
}
 
 
.cart_center{
 background-repeat: round;
    margin: 48px 8% 0px;
    width: 28%;
    font-size: 1rem;
    float: left;
        
        }


.cart_center:hover .cart_boton
        {height: 30%;
        transition: 200ms;
        cursor: pointer;
        }

.cart_center:hover .cart-name{
            color: #f26522;
            cursor: pointer;
        }

/*Секцыя два*/

.section_two{
    overflow: hidden;
}








.footer_{
    margin-top: 61px;
    text-align: center;
    font-size: 0.9rem;
}