html{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
body{
    width: 70%;
    margin: 0 auto;
}
.header{
    margin-top: 188px;
    font-size: 1.5rem;
    font-weight: 700;
    color:#354657;
}
.header_line{
    margin-top:20px;
    border-top:2px solid #e2e2e2;
    height:100%;
  }


div{
    font-weight: 700;
    font-size: 1rem;
    color: rgba(53, 70, 87, 1);
    margin-bottom: 15px;
}


.login{
    width: 33%;
    height: 113px;
    background-color: #e2e2e2;
    float: left;
    box-sizing: border-box;
    padding: 20px 0px;

}
section{
    overflow: hidden;
    margin-top: 40px;
}
.section_last{
    margin-top: 8px;
}
.login_form{
    
    padding-left: 20px;
}

label{
    font-weight: 400;
    font-size: 0.8rem;
    color:rgba(53, 70, 87, 1);
   margin-right: 2%;
}
.delivery{
    width: 65%;
    height: 113px;
    background-color: #e2e2e2;
    float:right;
    box-sizing: border-box;
    padding: 20px 0px;
}
.delivery_form{
    padding-top: 1px;
    padding-left: 20px;
    
}
.data_block{
    width: 33%;
    height: 818px;
    background-color: #e2e2e2;
    box-sizing: border-box;
    padding-left:20px ;
    padding-top: 20px;
    float: left;
}
.data_block input{
    width: 93%;
    height: 38px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left:20px ;

}

.paymen_form{
    width: 65%;
    height: 113px;
    background-color: #e2e2e2;
    float:right;
    box-sizing: border-box;
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
    
}



/*-------Таблиця корзини----------------------*/
.head_table{
    width: 65%;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(53, 70, 87, 1);
    margin : 20px 0px 15px 15px;
    float: right;
    
}


table{
    width: 65%;
    
    float: right;
    box-sizing: border-box;
    border-collapse:collapse
}
img{
    width: 42px;
    height: 45px;
}
thead{
    background-color: #e2e2e2;
    height: 41px;
    font-size: 0.7rem;
    font-weight: 700;
    color: rgba(53, 70, 87, 1);
    text-transform:uppercase;
}
tbody{
    font-size: 0.7rem;
    font-weight: 400;
    color: rgba(53, 70, 87, 1);

}
td{
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    box-sizing: border-box;
}
img{
    width: 42px;
    height: 45px;
}
.number{
    box-sizing: border-box;
}
.number_form{
    display: block;
    width: 25%;
height: 32.7px;
box-sizing: border-box;
float: left;
margin-right: 10px;
}
button{
    width: 28%;
    height: 33px;
    padding: 0;
    border: 0;
box-sizing: border-box;

}
.button_1{
margin-right:7px ;
}
.img_button{
    width: 100%;
    height: 33px;
}





/*-------Таблиця корзини----------------------*/
.table_price{
    width: 29.5%;
    float:right
}
.table_price_tr:nth-child(2)
{
    background-color: #e2e2e2;
}
.table_price_tr{
height: 47px;
padding-left: 10px;
}
.table_price_td{
    font-size: 0.7rem;
    font-weight: 700;
    color: rgba(53, 70, 87, 1);
    text-transform:uppercase;
    text-align: right;
    
}
.done{
    margin-top:10px;
    width: 65%;
    height:318px ;
    float: right;
    background-color:#e2e2e2 ;
    box-sizing: border-box;
    padding:20px 20px;
}
textarea{
    width: 99%;
    height: 86px;
    margin: 10px auto;
    color:rgba(173, 168, 168, 1);
    font-size: 0.7rem;
    box-sizing: border-box;
    padding: 10px;
}
.button_buy{
    width: 206px;
    height: 54px;
    background-color: rgba(148, 111, 211, 1);
    border-radius: 30px;
    border: none;
    float: right;
    font-size: 0.8rem;
    color:rgba(255, 255, 255, 1);
    margin-top: 7%;
   
    font-weight: 700;
}